<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConvertExceltoCSV.Properties.Settings.ConnectionString"
            connectionString="Dsn=callcenter;dbq=C:\Downloads\xls\EU call center data for big data analysis TV 2015 lineup.xlsx;defaultdir=C:\Downloads\xls;driverid=1046;fil=excel 12.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>